<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scaleble=no" />
    <title>Responsive Tasarım</title>
    <link href="~/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="banner">
            <header>
                <h1>TRANSIT</h1>
                <nav class="menu">
                    <ul>
                        <li><a href="#">Anasayfa</a></li>
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">İletişim</a></li>
                    </ul>
                </nav>
            </header>
                <div class="yazi">
                    <h2 class="altbaslik">Merhaba, Hoş geldiniz.</h2>
                    <p>TASARIM | YAZILIM | GİRİŞİM</p>
                    <ul class="buton">
                        <li><a href="#">İncele</a></li>
                    </ul>
                </div>
        </div>
        <section class="bolum1">
            <h2>HİZMETLERİMİZ</h2>
            <p>Hizmetlerimize buradan ulaşabilirsiniz.</p>
            <div class="container">
                <div class="kutu">
                    <h3>TASARIM</h3>
                    <p>Amacımız yalnızca yüksek kaliteli kod yazmak değil, aynı zamanda bir uygulamanın veya web sitesinin erişilebilirlik, kullanılabilirlik ve performans kriterlerinin karşılanmasını sağlamaktır.</p>
                </div>
                <div class="kutu">
                    <h3>YAZILIM</h3>
                    <p>Kullanıcı dostu ve mobil uyumlu web siteleri ile fark yaratabileceğiniz çözüm önerileri sunuyoruz.</p>
                </div>
                <div class="kutu">
                    <h3>GİRİŞİM</h3>
                    <p>Teknoloji girişimcilerinin fikirlerini teknoloji alanında başarılı birer işletmeye dönüştürebilmeleri ve bu işletmelerin sürdürülebilirliğini sağlamaları için gerekli desteği sağlıyoruz.</p>
                </div>
            </div>
        </section>
        <section class="bolum2">
            <h2>Teklif almak için bize ulaşın.</h2>
            <div class="container">
                <div class="kisiler">
                    <div class="kisi">
                        <img src="~/images/profile_placeholder.gif" alt="kisi" />
                        <h4>Kullanıcı 1</h4>
                    </div>
                    <div class="kisi">
                        <img src="~/images/profile_placeholder.gif" alt="kisi" />
                        <h4>Kullanıcı 2</h4>
                    </div>
                    <div class="kisi">
                        <img src="~/images/profile_placeholder.gif" alt="kisi" />
                        <h4>Kullanıcı 3</h4>
                    </div>
                </div>
                <article>
                <p>Kurumsal duruşunuzu gösteren çizgiler ve renklerle projenizi ve sizleri yansıtan Web tasarımları oluşturarak profesyonel çözümler sunuyoruz. </p>
                    <ul class="action">
                        <li><a href="#">Detaylı Bilgi</a></li>
                    </ul>
            </article>
                
            </div>
        </section>
        <section class="bolum3">
            <h2>Bize Ulaşın!</h2>
            <p>Görüşlerinizi ve fikirlerinizi bekliyoruz.</p>

            <div class="container">
                <div class="form">
                    <form id="iletisim" name="iletisim" method="post">
                        <input type="text" name="ad" id="ad" placeholder="Adınız" required />
                        <input type="email" name="email" id="email" placeholder="E-posta" required />
                        <textarea name="icerik" required placeholder="Mesajınız"></textarea>
                        <input type="submit" name="gonder" value="Mesajı gönder"/>

                    </form>
                </div>
            </div>
        </section>
        <footer>
            <div class="icerik">
                <div class="container">     
                    <div class="footerkutu">
                        <h3>Kullanışlı Linkler</h3>
                        <ul>
                            <li><a href="#">Anasayfa</a></li>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">İletişim</a></li>
                            <li><a href="#">Teklif al</a></li>
                            <li><a href="#">Kullanıcılar</a></li>
                        </ul>
                    </div>
                    <div class="footerkutu">
                        <h3>İletişim</h3>
                        <ul>
                            <li><a href="#">0850 999 99 99</a></li>
                            <li><a href="#">0312 999 99 99</a></li>
                            <li><a href="#">bilgi@transit.com</a></li>
                        </ul>
                    </div>
                    <div class="footerkutu">
                        <h3>Kategori</h3>
                        <ul>
                            <li><a href="#">Tasarım</a></li>
                            <li><a href="#">Yazılım</a></li>
                            <li><a href="#">Girişim</a></li>
                        </ul>
                    </div>
                    <div class="footerkutu">
                        <h3>Kurumsal</h3>
                        <ul>
                            <li><a href="#">Web Sitesi Aydınlatma Metni</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                            <li><a href="#">Çerez (Cookie) Politikası</a></li>
                        </ul>
                    </div>

                </div>
                <div class="sosyal">
                    <div class="lisans"><p>2023 Transit Yazılım</p></div>

                </div>
                <div class="temizle"></div>
            </div>
        </footer>

    </div>
</body>
</html>
